# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Local Temp File
.ipynb_checkpoints

# Local Temp Folders
__pycache__/
images/
logs/
models/

# Other Files and Folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
